---
layout: base.njk
title: Dashboard
permalink: index.html
pageId: dashboard
---

<div class="container py-4">
    <h1 class="title has-text-centered">Dashboard</h1>
    <p class="subtitle has-text-centered">Welcome to your dashboard</p>
    <div class="is-invisible is-flex is-justify-content-center mb-4" id="toggleFavouritesContainer">
        <button class="button is-small no-radius-left active" id="toggleFavourites">Favourites</button>
        <button class="button is-small no-radius-right" id="toggleAll">All</button>
    </div>
      
    <div class="columns is-multiline mx-2" id="forecastContainer">
    </div>
</div>