---
layout: base.njk
title: Dashboard
permalink: index.html
pageId: dashboard
---

<div class="container">
    <h1 class="title has-text-centered">Dashboard</h1>
    <p class="subtitle has-text-centered">Welcome to your dashboard</p>
    <div class="columns is-multiline" id="forecastContainer">
        <!-- 6 columns, responsive classes -->
        <div class="column is-12-mobile is-4-tablet">
            <a href="/city-focus?city=berlin">
                <div class="card has-text-black has-text-centered p-3">
                    <h3 class="title">Berlin</h3>
                    <div>
                        <div class="column has-text-centered tempNow">
                        </div>
                        <div class="column has-text-centered windNow">
                        </div>
                    </div>
                </div>
            </a>

        </div>
        <div class="column is-12-mobile is-4-tablet">
            <a href="/city-focus?city=amsterdam">
                <div class="card has-text-black has-text-centered p-3">
                    <h3 class="title">Amsterdam</h3>
                    <div>
                        <div class="column has-text-centered tempNow">
                        </div>
                        <div class="column has-text-centered windNow">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column is-12-mobile is-4-tablet">
            <a href="/city-focus?city=paris">
                <div class="card has-text-black has-text-centered p-3">
                    <h3 class="title">Paris</h3>
                    <div>
                        <div class="column has-text-centered tempNow">
                        </div>
                        <div class="column has-text-centered windNow">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column is-12-mobile is-4-tablet">
            <a href="/city-focus?city=tromso">
                <div class="card has-text-black has-text-centered p-3">
                    <h3 class="title">Tromso</h3>
                    <div>
                        <div class="column has-text-centered tempNow">
                        </div>
                        <div class="column has-text-centered windNow">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column is-12-mobile is-4-tablet">
            <a href="/city-focus?city=waterford">
                <div class="card has-text-black has-text-centered p-3">
                    <h3 class="title">Waterford</h3>
                    <div>
                        <div class="column has-text-centered tempNow">
                        </div>
                        <div class="column has-text-centered windNow">
                        </div>
                    </div>
                </div>
            </a>

        </div>
        <div class="column is-12-mobile is-4-tablet">
            <a href="/city-focus?city=cork">
                <div class="card has-text-black has-text-centered p-3">
                    <h3 class="title">Cork</h3>
                    <div>
                        <div class="column has-text-centered tempNow">
                        </div>
                        <div class="column has-text-centered windNow">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="column is-12-mobile is-4-tablet">
            <a href="/city-focus?city=new_york">
                <div class="card has-text-black has-text-centered p-3">
                    <h3 class="title">New York</h3>
                    <div>
                        <div class="column has-text-centered tempNow">
                        </div>
                        <div class="column has-text-centered windNow">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>