---
layout: base.njk
title: Dashboard
permalink: index.html
pageId: dashboard
---

<div class="container">
    <h1 class="title has-text-centered">Dashboard</h1>
    <p class="subtitle has-text-centered">Welcome to your dashboard</p>
    <div class="columns is-multiline" id="forecastContainer">
    </div>
</div>