.min-vh-100 {
  min-height: 100vh !important;
}

.mt-auto {
  margin-top: auto !important;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.no-radius-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

.no-radius-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

.card {
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}
