---
layout: base.njk
title: Settings
permalink: settings.html
pageId: settings
---

<div class="container">
    <h1 class="title has-text-centered">Settings</h1>
    <p class="subtitle has-text-centered">Edit Settings</p>
    <div class="columns is-multiline" id="forecastContainer">

        <div class="toggle-container">
            <input id="yesNoToggle" type="checkbox" name="toggle" class="switch is-rounded is-small is-info">
            <label for="yesNoToggle">On</label>
            </div>
    </div>
</div>