---
layout: base.njk
title: Settings
permalink: settings.html
pageId: settings
---

<div class="container py-4">
    <h1 class="title has-text-centered">Settings</h1>
    <p class="subtitle has-text-centered">Edit Settings</p>
    <div class="columns is-multiline mx-2 is-flex is-justify-content-center" >
        <div class="column is-12-mobile is-4-tablet is-3-desktop box" id="">
            <h2 class="subtitle has-text-centered">Favourite Cities</h2>
            <div id="favouriteCitiesContainer">
                <!-- Favourite cities will be dynamically added here -->
            </div>
        </div>
    </div>
</div>