<header class="container">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="/" className="navbar-brand is-info has-text-weight-bold">
            <img src="/assets/images/logo-4.png" alt="Logo" style="width: 130px;">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="/">
                Dashboard
            </a>
            <a class="navbar-item" href="/settings">
                Settings
            </a>

        </div>
    </div>
</nav>
</header>
